*
{
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0 auto;
}
.info
{
	width: 10rem;
	height: 10rem;
}
.item
{
	width: 3rem;
	height: 3rem;
	background-color: orange;
	float: left;
	margin: 0.16rem;
	border-radius: 0.4rem;
}
