*
{
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0 auto;
}
.info
{
	width: 10em;
	height: 10em;
}
.item
{
	width: 3em;
	height: 3em;
	background-color: orange;
	float: left;
	margin: 0.16em;
	border-radius: 0.4em;
}
